# Python - DataFrames

In [30]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [31]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [32]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [33]:
inside

[1, 2, 3, 1, 2, 3]

In [34]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [35]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [36]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [37]:
df

             A         B
G1 1 -1.931094  1.190234
   2  0.105363  0.451589
   3 -0.794593 -1.419593
G2 1  0.069835  0.727862
   2 -0.528126 -0.220700
   3  0.110859  0.264487

In [38]:
df.loc['G1']

          A         B
1 -1.931094  1.190234
2  0.105363  0.451589
3 -0.794593 -1.419593

In [39]:
df.loc['G1'].loc[1]

A   -1.931094
B    1.190234
Name: 1, dtype: float64

In [40]:
df.index.names

FrozenList([None, None])

In [43]:
df.index.names = ['Groups','Num']

In [44]:
df

                   A         B
Groups Num
G1     1   -1.931094  1.190234
       2    0.105363  0.451589
       3   -0.794593 -1.419593
G2     1    0.069835  0.727862
       2   -0.528126 -0.220700
       3    0.110859  0.264487

In [45]:
df.index.names

FrozenList(['Groups', 'Num'])

In [47]:
df.loc['G2'].loc[2]['B']

-0.22069966758916837

In [48]:
df

                   A         B
Groups Num
G1     1   -1.931094  1.190234
       2    0.105363  0.451589
       3   -0.794593 -1.419593
G2     1    0.069835  0.727862
       2   -0.528126 -0.220700
       3    0.110859  0.264487

In [49]:
df.loc['G1']

            A         B
Num
1   -1.931094  1.190234
2    0.105363  0.451589
3   -0.794593 -1.419593

In [51]:
df.xs('G1')  #important

            A         B
Num
1   -1.931094  1.190234
2    0.105363  0.451589
3   -0.794593 -1.419593

In [52]:
df.xs(1,level='Num')  #important

               A         B
Groups
G1     -1.931094  1.190234
G2      0.069835  0.727862